[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "zklogin/circuits/circomlib"]
	path = zklogin/circuits/circomlib
	url = https://github.com/iden3/circomlib.git
[submodule "zklogin/rapidsnark"]
	path = zklogin/rapidsnark
	url = https://github.com/iden3/rapidsnark
[submodule "account-abstraction"]
	path = account-abstraction
	url = https://github.com/junvalentine/account-abstraction.git
	branch = releases/v0.7
