[submodule "zklogin/circuits/circomlib"]
	path = zklogin/circuits/circomlib
	url = https://github.com/iden3/circomlib.git
[submodule "zklogin/rapidsnark"]
	path = zklogin/rapidsnark
	url = https://github.com/iden3/rapidsnark
[submodule "skandha"]
	path = skandha
	url = https://github.com/etherspot/skandha.git
	branch = releases/v0.7
