[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "zklogin/circuits/circomlib"]
	path = zklogin/circuits/circomlib
	url = https://github.com/iden3/circomlib.git
